<!DOCTYPE html>
<html>
    <head>
        <title>Saba's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        <article>
            <time>published: 09.02.2022, 11:08</time>
            <h2><a href="">My first Post</a></h2>
            <p>This is my first created Post.</p>
        </article>

        <article>
            <time>published: 09.02.2022, 11:10</time>
            <h2><a href="">My second Post</a></h2>
            <p>This is my second Post.</p>
        </article>
    </body>
</html>